<p id="notice"><%= notice %></p>

<h1>To Do Items</h1>
<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= link_to todo_list.title, todo_list %></td>
        <td><%= todo_list.description %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Delete', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<!-- Open Modal -->
<button id="myBtn">New List</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p>Would you like to create a New List?</p>
    <%= link_to '<button>Yes</button>'.html_safe, new_todo_list_path %>
  </div>

</div>

<script>
// Get modal
var modal = document.getElementById('myModal');

// Get the button that opens modal
var btn = document.getElementById("myBtn");

// Open modal onClick event 
btn.onclick = function() {
    modal.style.display = "block";
}

// Close modal onClick event
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>