<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<%= link_to '<button>Edit</button>'.html_safe, edit_todo_list_path(@todo_list) %> |
<%= link_to '<button>Back</button>'.html_safe, todo_lists_path %>
